.benefits{
    line-height: calc(24/14); 
}

.quality__title{
    margin-top: 30px;
    color: var(--title-color);
    font-weight: 700;
    line-height: calc(16/14);
    font-size: inherit;
    text-transform: uppercase;
    @media screen and (max-width:767px) {
        text-align: center;
    }
}
    
.quality{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 30px;
    
}
.quality__item{
    display: block;
    width: 100%;
    @media screen and (min-width:768px) {
        width: calc((100% - 30px)/2);
    }
    @media screen and (min-width:1200px) {
        max-width: calc((100% - 90px)/4);
    }
}

.quality__icon{
    background-color: #F5F4FA;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
}